.card_container {
  position: relative;
  border: 3px solid #3e4357;
  border-radius: 10px;
  width: 350px;
  height: 500px;
  display: flex;
  overflow: hidden;
  margin-bottom: 20px;
}

.card_image {
  min-width: 100%;
  min-height: 100%;
  transition: .4s ease;
}

.card_image:hover {
  transform: scale(1.1)
}